@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap");
*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body 
{
  background: #F2F2F2;
  font-family: 'Kumbh Sans', sans-serif;
}

h1,h2 
{
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}
span.dot
{
  font-size: x-large;
    font-weight: bolder;
} 


.btn 
{
  background: #5964E0;
  padding: 7px 25px;
  width: 125px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}
.btn:hover
{
  background: #939BF4;
}
p {
  color: #777;
  font-weight: 400;
  font-size: 0.9rem;
}
.header 
{
  width: 100%;
  height: 150px;
  line-height: 150px;
  background: url('/src/Triangle.svg');
  background-size: cover;
}
footer 
{
  margin-top: 50px;
  padding: 40px 30px;
  width: 100%;
  height: 125px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
footer h2 
{
  padding-bottom: 10px;
}

.container
{
  max-width: 1100px;
  height: 160px;
  margin-left: 180px;
}
.logo 
{
  padding-left: 100px;
}
.learn-more 
{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
button.btn.Learn
{
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.header h1 
{
  color: #fff;
}


.search__panel
{
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  background: white;
  border-radius: 10px;
}

.search__panel-01, .search__panel-02,.search__panel-03
{
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  border-right: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
.search__panel-01
{
  padding: 15px 25px; 

}
.search__panel-02
{
  padding: 10px 25px;
}
.search__panel-03
{
  padding: 15px 25px;
  border:none;
  outline: none;
}
.search__panel-03 span
{
  font-size: 0.8rem;
  font-weight: 600;
}
.search__panel-03 input
{
  outline: none;
  text-decoration: none;
cursor: pointer;
}
.search__panel-03 input :hover
{
  background:#939BF4;
}


.search__panel-01 input, .search__panel-02 input
{
  border: none;
  outline: none;
  color: #000;
  font-size: 0.8rem;
  font-weight: 500;
}
.search__panel-01 input 
{
  width: 400px;
}
.search__panel-02 input
{
  width: 220px;
}

.jobs__wrapper 
{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.job__item
{
  background: #fff;
  height: 250px;
  width: 350px;
  padding: 10px 32px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.job__item img 
{
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: -40px;
}
.job__content p
{
  padding-top: 17px;
  padding-bottom: 14px;
  font-weight: 400;
font-size: 16px;
line-height: 20px;
}
.job__content h6 
{
  padding-top: 44px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #5964E0;
}
.job__content h1 a
{
  text-decoration: none;
  font-weight: 700;
font-size: 20px;
line-height: 25px;
color: #19202D;
}
.job__content h1 a:hover
{
  color: #6E8098;
}
.details__wrapper
{
  margin-top: 30px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}
.details__top 
{
  margin-top: -50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
border-radius: 6px;
padding: 10px;

}
.details__top h1 
{
  padding-bottom: 10px;
}
.details__top button.btn.site
{
  height: 48px;
  margin-right: 20px;
  padding: 7px 10px;
  border-radius: 5px;
  background: aliceblue;
  border: 1px solid aliceblue;
}
.details__top button.btn.site:hover
{
  background: #939BF4;
}

.details__top button a
{
  text-decoration: none;
  color: #7c5dfa;
  font-weight: 600;
  font-size: 0.9rem;

}
.logo-wrapper
{
  display: flex;
  gap: 20px;

}
.job__details
{
  padding-left: 15px;
}
.about__job
{
  padding-top: 48px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.about__job h6{
  padding-top: 14px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #5964E0;
}
.about__job h1 
{
  padding-top: 10px;
}
.about__job button 
{
  padding-top: 10px;
  margin-top: 20px;
}
.requirements 
{
  padding-top: 10px;
}
.requirements p
{
  padding-top: 28px;
}
.requirements ul 
{
  padding-top: 10px;
  color: #777;
  font-weight: 400;
  font-size: 0.9rem;
}
.requirements ul li
{
  padding-top: 8px;
}
.requirements ul ::marker
{
  font-size: 1rem;
  font-weight: 600;
  color: #5964E0;
}
.requirements h2,
.responsibility h2 
{
  padding-top: 10px;
}
.responsibility 
{
  padding-top: 10px;
}
.responsibility p
{
  padding-top: 28px;
}
.responsibility ol
{
  padding-top: 10px;
  color: #777;
  font-weight: 400;
  font-size: 0.9rem;
}
.responsibility ol li
{
  padding-top: 8px;

}
.responsibility ol ::marker
{
  font-size: 1rem;
  font-weight: 600;
  color: #5964E0;
}

@media screen and (min-width: 1280px) 
{
  .container
  {
    margin: auto;
  }
}

@media screen and (min-width: 768px)
{
  .container
  {
    margin: auto;
    padding: 0px 20px;
  }
  .search__panel-03 button 
  {
    width: 100px;
  }
}

@media screen and (min-width: 370px)
{
  header
  {
    border-radius: 0px !important;
  }
  .container 
  {
    padding: 10px 10px;
    margin: auto;
  }
}